    <header>
      <nav class="navbar navbar-dark bg-primary justify-content-between">
        <h2 class="navbar-brand col-5">Admin panel</h2>

          <ul class="nav justify-content-end">
           <li class="nav-item col-3 mr-auto pl-0">
             <a class="nav-link text-white" href="#">settings</a>
           </li>
           <li class="nav-item col-3">
             <a class="nav-link text-light" href="#">products</a>
           </li>
           <li class="nav-item col-3">
             <a class="nav-link text-light" href="#">users</a>
           </li>
           <li class="nav-item col-3">
           <a class="nav-link text-light" href="/admin/logout-panel">logout</a>
           </li>
         </ul>
            
         <form class="form-inline w-100">
         <input class="form-control mr-sm-2 " type="search" placeholder=" Search" aria-label="Search">
        </form>
      </nav>
    </header>