<section>
  <div class="container">
  <div class="row justify-content-center align-items-center">
<form class="col-md-5 p-3 bg-light" action="/login" method="post">
  {{#if loginErr}}
   <h5 class="error">{{loginErr}}</h5>
  {{/if}}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="Email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password" required>
  </div>
  <div class="form-check d-flex ">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  <a href="#" class="ml-auto">Forgot Password?</a>
  </div>
  <div class="text-center p-2">
  <button type="submit" class="btn btn-success w-50">login</button>
  </div>
     <p class="text-center"><a href="/signup">Create an Account</a></p>
     
</form>
  </div>
  </div>
</section>
 

    